@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    padding-top: 2rem;
    padding-left: 5px;
}

.heading{
    margin-left: 1rem;
    margin-top: 5vh;
    font-size: 2rem;
}
.color-bar{
    margin-left: 1rem;
    margin-bottom: 5vh;
    width: 50px;
    height: 5px;
    background: rgb(15, 172, 235);
}
.submain-heading{
    margin-left: 1rem;
    color: darkslategray;
}
.sub-heading{
    padding: .3rem 0;
    padding-left: 1rem;
    background: aqua;
    color: darkslategray;
}


.banner{
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 5vh;
}
.banner img{
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.banner .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 5;
}
.overlay h1{
    font-size: 4rem;
}


.wrapper{
    position: relative;
    margin: 1rem 0 4rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.category-card{
    width: auto;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    background: #6969fa;
    color: #FFF;
    border-radius: 15px;
    transition: all .4s ease;
}
.category-card:hover{
    transform: translateY(-5px);
    background-color: rgb(40, 40, 255);
    box-shadow: 4px 4px 10px rgb(195, 195, 195);
}


.scrollable-products-div{
    width: 100%;
    height: auto;
    margin-bottom: 5vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.scrollable-products-div::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.product-card{
    width: 225px;
    height: auto;
    margin-right: 4rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    background: #fff;
    transition: all .5s ease;
}
.product-card:hover{
    box-shadow: 5px 5px 15px rgb(190, 190, 190);
}
.product-img{
    width: inherit;
    height: 125px;
    object-fit: contain;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    cursor: pointer;
}
.product-content{
    width: inherit;
    padding: .5rem;
}
.product-description{
    margin-top: 5px;
    font-size: .9rem;
}
.read-more-link{
    cursor: pointer;
}
.product-enquiry{
    width: 100px;
    height: auto;
    margin-top: .5rem;
    padding: 2.5px 0;
    border: 2px solid rgb(40, 40, 255);
    color: rgb(40, 40, 255);
    background: none;
    cursor: pointer;
    transition: all .4s ease;
}
.product-enquiry a{
    text-decoration: none;
    color: rgb(40, 40, 255);
    font-size: .9rem;
}
.product-enquiry:hover{
    background: rgb(40, 40, 255);
    color: #fff;
}
.product-enquiry a:hover{
    color: #fff;
}



@media (max-width: 768px) {

    .extra-space{
        position: relative;
        width: 100%;
        height: 10vh;
    }

    .banner{
        height: 100px;
    }
    .overlay h1{
        font-size: 2rem;
    }

}


/* !!!! Don't mess with this code !!!! */

#lightbox-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    z-index: 100;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
#lightbox-section::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.lightbox{
    width: 80vw;
    background: #fff;
    border-radius: 15px;
    height: auto;
    padding: 1rem;
    box-sizing: content-box;
}
.lightbox-img{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 300px;
    height: 250px;
    object-fit: contain;
    border-radius: inherit;
}
.lightbox-head{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.close-btn{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 30px;
    height: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.contact-div{
    position: relative;
    width: 100%;
    height: auto;
    padding: .25rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
}
.contact-div a{
    position: relative;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
}
.contact-div--img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .lightbox{
        width: 90%;
    }
    .lightbox-img{
        width: 200px;
        height: 150px;
        top: 2%;
        left: calc(50% - 100px);
    }
    .lightbox-head{
        top: 90px;
    }
}