:root {
    --primary-color: slategrey;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .carousel-container {
    border-radius: 20px;
    overflow: hidden;
    max-width: 700px;
    height: 50vh;
    position: relative;
    box-shadow: 0 0 100px -20px lightblue;
    margin: auto;
    z-index: 0;
  }
  
  /* Hide the images by default */
  .mySlides {
    height: inherit;
    display: none;
    object-fit: contain !important;
  }
  .mySlides img {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: contain !important;
  }
  
  /* image gradient overlay [optional] */
  /* .mySlides::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
      background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
  } */
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: gray;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(173, 216, 230, 0.3);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    background-color: rgba(10, 10, 20, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .number {
    color: #000;
    font-size: 16px;
    background-color: rgba(2, 130, 173, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  
  /* The dots/bullets/indicators */
  .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .active,
  .dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
  }
  
  /* Fading animation */
  .animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 2s;
  }
  
  @keyframes animate {
    from {
      transform: scale(1.1) rotateY(10deg);
    }
    to {
      transform: scale(1) rotateY(0deg);
    }
  }
  
  @media (max-width: 768px) {
      .carousel-container{
          width: 90%;
          height: 30vh;
      }
      .text{
          font-size: 15px;
          padding: 4px 6px;
      }
      .mySlides{
          height: 30vh;
      }
      .mySlides img{
          height: 30vh;
      }
  }